@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(0, 0, 0);
    background: linear-gradient(
            to right,
            transparent,
            rgb(80, 200, 120)
    ) rgb(80, 200, 180);
}

h1 {
    font-weight: 900;
    font-size: 13vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #fff;
    text-rendering: optimizeLegibility;
    transform-style: preserve-3d;
    text-transform: uppercase;
    white-space: nowrap;

    @media only screen and (max-width: 1700px) {
        font-size: 10vh;
    }

    @media only screen and (max-width: 1350px) {
        font-size: 8vh;
    }

}