.heading {
    font-weight: 900;
    font-size:  13vh;
    outline: black;
    text-rendering: optimizeLegibility;
    transform-style: preserve-3d;
    text-transform: uppercase;
    font-style: italic;
    transition: all .3s ease;
    white-space: nowrap;

    @media only screen and (max-width: 1700px) {
        font-size: 10vh;
    }

    @media only screen and (max-width: 1350px) {
        font-size: 8vh;
    }

    @media only screen and (max-width: 800px) {
        font-size: 5vh;
    }

}

.heading:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #000;
}

.floatheading {
    font-weight: 900;
    font-size:  3vh;
    outline: black;
    text-rendering: optimizeLegibility;
    transform-style: preserve-3d;
    text-transform: uppercase;
    font-style: italic;
    transition: all .3s ease;
    white-space: nowrap;
}

.floatheading:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #000;
}